#footer {
    position:fixed;
    left:0px;
    bottom:4px;
    width: 100%;
 }
 #msg {
    width: 100%;
 }

 #fom{
     width: 100%;
 }
 button{
     width: 100%;
 }
 h1{
     text-align: center;
 }

 #content{
     overflow-y: auto;
     max-height: 550px;
     /* max-width: 500px; */
 }